<div id="navbar"><%- include("./partials/navbar") %></div>
<%- include("./partials/header") %>


<div class="modal-content">
    <span class="close">&times;</span>
    <ul id="searchList"></ul>
  </div>
</div>

<div id="container">
  <div id="sidebar">
    <img
      id="side_img"
      src="https://celebmafia.com/wp-content/uploads/2016/04/miranda-kerr-goes-grocery-shopping-in-malibu-4-2-2016-7.jpg"
      alt=""
    />
  </div>

  <div id="signup">
    <h3 id="sign_name">Let's get you logged in</h3>
    <div id="line"></div>
    <form action="" id="form_reg">
      <h2>Full name</h2>
      <input id="name" type="text" placeholder="enter name" />

      <!-- <h2>Location</h2>
       <input id="location" type="text" placeholder = "enter location"> -->

      <h2>Mobile No.</h2>
      <input id="mobile_no" type="text" placeholder="enter number" />

      <br />
      <h2>Email Id</h2>
      <input id="id" type="text" placeholder="enter email id" />

      <br />
      <h2>Password</h2>
      <input id="password" type="text" placeholder="Password" />
      <br />

      <!-- <h2>SIGN UP</h2> -->
      <div id="terms">
        <p id="grey">By clicking on continue, you agree to our</p>
        <p id="green">
          Terms & Conditions, Refunds Policy and Privacy Policy
        </p>
      </div>
      <input id="submit" type="submit" value="Continue" />
    </form>
    <!-- <a href = "login.html"><p onclick="gologin()"> Log in with an existing account</p></a> -->
  </div>
</div>
<div id="ftr">Footer</div>


<%-include("./partials/footer") %>
<script src="/js/home.js"></script>
<script src="/js/search.js"></script>
<script src="/js/footer.js"></script>